<div class="form-container">
    <form class="form">
        <div class="form__header">edit profile</div>
        <div class="form__controls">
            {{{avatar}}}
            {{{display_name}}}
            {{{first_name}}}
            {{{second_name}}}
            {{{login}}}
            {{{password}}}
            {{{email}}}
            {{{phone}}}
            {{{oldPassword}}}
            {{{newPassword}}}
        </div>
        <div class="form__footer">
            {{{saveButton}}}
            <div class="form__footer__back-btn">back</div>
        </div>
    </form>
</div>
