<div class="form-container">
    <form class="form">
        <div class="form__header">sign up</div>
        <div class="form__controls">
            {{{first_name}}}
            {{{second_name}}}
            {{{login}}}
            {{{password}}}
            {{{email}}}
            {{{phone}}}
        </div>
        <div class="form__footer">
            {{{signUpButton}}}
            <div class="form__footer__back-btn">sign in</div>
        </div>
    </form>
</div>
